<div
  class="bg-(--forground-color) p-4 rounded-lg cursor-pointer"
  role="button"
  (click)="onViewTask()"
  (keyup.enter)="onViewTask()"
  tabindex="0"
  cdkDrag
>
  <div class="flex items-start justify-between">
    <h2
      class="text-lg text-gray-600 dark:text-gray-300 font-semibold font-pop truncate"
    >
      {{ task().title }}
    </h2>

    <!-- drag handler -->
    <div class="cursor-move text-gray-500 dark:text-gray-400" cdkDragHandle>
      <svg width="18px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>

  <p class="text-gray-500 dark:text-gray-400 line-clamp-2">{{ task().desc }}</p>
</div>
