@if (pamper()) {
  @let item = pamper()!;

  <div
    [class]="
      'pamper py-3 pl-4 border-b border-b-gray-300 dark:border-b-gray-700' +
      (index() === 0
        ? ' border-t border-t-gray-300 dark:border-t-gray-700'
        : '')
    "
  >
    <span>{{ index()! + 1 }}</span>
    <span class="truncate">{{ item.name }}</span>
    <span class="truncate">{{ item.date | date: "dd.MM.yyyy" }}</span>
    <span class="truncate">{{
      item.price | currency: "EUR" : "symbol" : "1.2-2" : "de-DE"
    }}</span>
    <span>{{ item.quantity }}</span>
    <button matIconButton [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editItem.emit(item)">
        Update Item
        <mat-icon>edit</mat-icon>
      </button>
      <button
        class="!text-red-500 !dark:text-red-300"
        mat-menu-item
        (click)="deleteItem.emit(item.id!)"
      >
        Delete Item
        <mat-icon class="!text-red-500 !dark:text-red-300">delete</mat-icon>
      </button>
    </mat-menu>
  </div>
}
