@if (pamper()) {
  @let item = pamper()!;

  <div
    [class]="
      'grid grid-cols-5 gap-4 justify-around items-center py-3 px-4 border-b border-b-gray-300 dark:border-b-gray-700' +
      (index() === 0
        ? ' border-t border-t-gray-300 dark:border-t-gray-700'
        : '')
    "
  >
    <span>{{ index()! + 1 }}</span>
    <span class="truncate">{{ item.name }}</span>
    <span class="truncate">{{ item.date | date: "dd.MM.yyyy" }}</span>
    <span class="truncate">{{
      item.price | currency: "EUR" : "symbol" : "1.2-2" : "de-DE"
    }}</span>
    <span>{{ item.quantity }}</span>
  </div>
}
