<section>
  <div class="flex flex-wrap items-center gap-4 mb-4">
    <app-custom-search
      class="w-full"
      searchLabel="Search your favorite task..."
      (searchQuery)="onSearchTask($event)"
    ></app-custom-search>

    <!-- add task button -->
    <button mat-raised-button color="primary" (click)="addNewTask()">
      + Add New Task
    </button>
  </div>

  <!-- header -->
  <header
    class="flex items-center justify-between bg-gray-200 dark:bg-(--forground-color) mt-2 border-b border-b-gray-500 py-3"
  ></header>

  <!-- content -->
  <div class="grid grid-cols-(--grid-cols-auto-fit) justify-between gap-8 mt-4">
    <article>
      <ng-container
        *ngTemplateOutlet="
          header;
          context: { text: 'todo', color: 'bg-teal-400' }
        "
      ></ng-container>

      @for (item of (tasksGroup$ | async)?.todo; track $index) {
      <div class="mt-4">
        <app-task [task]="item"></app-task>
      </div>
      }
    </article>

    <!-- doing tasks -->
    <article>
      <ng-container
        *ngTemplateOutlet="
          header;
          context: { text: 'doing', color: 'bg-violet-500' }
        "
      ></ng-container>

      @for (item of (tasksGroup$ | async)?.doing; track $index) {
      <div class="mt-4">
        <app-task [task]="item"></app-task>
      </div>
      }
    </article>

    <!-- done tasks -->
    <article>
      <ng-container
        *ngTemplateOutlet="
          header;
          context: { text: 'done', color: 'bg-green-600' }
        "
      ></ng-container>

      @for (item of (tasksGroup$ | async)?.done; track $index) {
      <div class="mt-4">
        <app-task [task]="item"></app-task>
      </div>
      }
    </article>
  </div>
</section>

<ng-template #header let-text="text" let-color="color">
  <div class="flex items-center gap-2">
    <span class="block h-3 w-3 rounded-full" [ngClass]="color"></span>
    <span class="uppercase tracking-widest font-pop">{{ text }}</span>
  </div>
</ng-template>
