<article
  class="flex items-center justify-between py-2 border-b border-b-gray-300 dark:border-b-gray-700"
>
  <!-- count items -->
  <span
    matTooltip="{{ !itemsCountLabel() ? itemsCountLabel() + ' items' : '' }}"
  >
    {{ itemsCountLabel() }}
  </span>

  <div class="flex items-center">
    <!-- filter controls -->
    <mat-form-field
      class="no-arrow no-hint no-underline no-hover-effect match-height match-width"
      appearance="fill"
    >
      <mat-select [(value)]="filterQuery" [disabled]="!itemsCountLabel()">
        <mat-select-trigger
          class="flex items-center justify-between gap-0 truncate text-(--primary)"
          [ngClass]="{
            'text-red-500 dark:text-red-400 font-medium':
              filterQuery() !== 'All',
            'text-gray-400 dark:text-gray-500': !itemsCountLabel(),
          }"
        >
          {{ filterQuery() }}
          <mat-icon class="!text-base text-(--primary)">filter_alt</mat-icon>
        </mat-select-trigger>

        <!-- filter options -->
        @if (isSearchBoxVisible()) {
          <mat-option>
            <ngx-mat-select-search
              [formControl]="searchControl"
              placeholderLabel="Search..."
              noEntriesFoundLabel="No entries found!"
            ></ngx-mat-select-search>
          </mat-option>
        }
        @for (option of filteredOptions | async; track $index) {
          <mat-option [value]="option" (click)="onSelectTimePeriod()">
            @if (filterQuery() === option) {
              <div class="flex items-center justify-between gap-3 min-w-24">
                <span class="text-right">{{ option }}</span>
              </div>
            } @else {
              <span>{{ option }}</span>
            }
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (sortOptions()?.length) {
      <!-- seprate line -->
      <span class="pl-2 pr-4 text-gray-400">|</span>

      <!-- sort controls -->
      <mat-form-field
        class="no-arrow no-hover-effect no-hint no-underline match-height match-width"
      >
        <mat-select
          panelClass="no-checkbox"
          [(value)]="sortControl"
          [disabled]="!itemsCountLabel()"
        >
          <mat-select-trigger
            class="flex items-center justify-between gap-1 truncate text-(--primary)"
            [ngClass]="{
              'text-red-500 dark:text-red-400 font-medium':
                sortControl() !== sortOptions()?.[0],
              'text-gray-400 dark:text-gray-500': !itemsCountLabel(),
            }"
          >
            {{ sortControl() }}
            <mat-icon class="!text-base text-(--primary)">sort</mat-icon>
          </mat-select-trigger>

          @for (option of sortOptions(); track $index) {
            <mat-option [value]="option">
              @if (sortControl() === option) {
                <div class="flex items-center justify-between gap-3 min-w-24">
                  <span class="text-right">{{ option }}</span>
                  <mat-icon class="!mr-0">sort</mat-icon>
                </div>
              } @else {
                <span>{{ option }}</span>
              }
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

    <!-- seprate line -->
    <span class="px-2 text-gray-400">|</span>

    <!-- sort asc/desc -->
    <button
      class="text-(--primary) h-[24px] cursor-pointer"
      [ngClass]="{ 'text-gray-400 dark:text-gray-500': !itemsCountLabel() }"
      (click)="onSort()"
      [disabled]="!itemsCountLabel()"
    >
      <mat-icon class="!text-lg">
        {{ !isAsc ? "arrow_upward" : "arrow_downward" }}
      </mat-icon>
    </button>
  </div>
</article>
