<header
  class="sticky top-0 left-0 z-50 flex flex-nowrap justify-between items-center p-4 bg-(--forground-color) shadow-md"
>
  <div class="flex items-center gap-8">
    <div class="flex items-center gap-2">
      <mat-icon class="!text-(--primary) !text-3xl leading-[23px]">
        generating_tokens
      </mat-icon>
      <h1 class="font-semibold truncate">Products to Buy</h1>
    </div>

    <span
      class="cursor-pointer"
      [routerLink]="['/', 'products-page', 'products']"
    >
      Products
    </span>
  </div>

  <div>
    <button matIconButton [routerLink]="['cart']">
      <mat-icon
        matBadge="{{ cartItemsCount() }}"
        matBadgeOverlap="true"
        [matBadgeHidden]="cartItemsCount() === 0"
        aria-hidden="false"
        >shopping_cart</mat-icon
      >
    </button>

    <button matIconButton [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item [disabled]="!cart().length" (click)="clearCart()">
        <mat-icon>clear_all</mat-icon>
        Clear Cart
      </button>
    </mat-menu>
  </div>
</header>
