<section
  class="max-w-md mx-auto shadow-lg rounded-lg p-8 pt-6 bg-gray-100 dark:bg-gray-800"
>
  <div class="flex justify-between">
    <div>
      <h1 class="font-bold text-2xl text-gray-700 dark:text-gray-100">
        Find your age
      </h1>
      <p class="mt-2 text-gray-500 dark:text-gray-400">
        Welcome to the calculate age app!
      </p>
    </div>

    <app-switch-theme></app-switch-theme>
  </div>

  <!-- form -->
  <form
    class="flex flex-col gap-8 mt-8"
    [formGroup]="calculatorForm"
    (submit)="submit($event)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        [max]="currentDate"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-error>Please choose a date</mat-error>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Calculate</button>
  </form>

  <!-- display result -->
  @if (age) {
  <div class="mt-8">
    <p class="text-gray-500 dark:text-gray-400">You age is:</p>

    <div class="mt-4">
      <div class="flex flex-col justify-between">
        <div class="flex items-center gap-2">
          <h2
            class="font-bold text-xl text-gray-700 dark:text-gray-300 min-w-20"
          >
            Years:
          </h2>
          <h2 class="font-bold text-2xl text-gray-700 dark:text-gray-300">
            {{ age.years }}
          </h2>
        </div>

        <div class="flex items-center gap-2">
          <h2
            class="font-bold text-xl text-gray-700 dark:text-gray-300 min-w-20"
          >
            Months:
          </h2>
          <h2 class="font-bold text-2xl text-gray-700 dark:text-gray-300">
            {{ age.months }}
          </h2>
        </div>

        <div class="flex items-center gap-2">
          <h2
            class="font-bold text-xl text-gray-700 dark:text-gray-300 min-w-20"
          >
            Days:
          </h2>
          <h2 class="font-bold text-2xl text-gray-700 dark:text-gray-300">
            {{ age.days }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  }
</section>
