<section
  class="max-w-md mx-auto shadow-lg rounded-lg p-8 mt-8 bg-gray-100 dark:bg-gray-800"
>
  <h1 class="font-bold text-2xl text-gray-700 dark:text-gray-100">
    Find your age
  </h1>
  <p class="mt-2 text-gray-500 dark:text-gray-400">
    Welcome to the calculate age app!
  </p>

  <!-- form -->
  <form
    class="flex flex-col gap-8 mt-8"
    [formGroup]="calculatorForm"
    (submit)="submit($event)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Calculate</button>
  </form>

  <!-- display result -->
  @if (result) {
  <div class="mt-8">
    <p class="text-gray-500 dark:text-gray-400">You are</p>
    <h2 class="font-bold text-4xl text-gray-700 dark:text-gray-300">
      {{ result }}
    </h2>
    <p class="text-gray-500 dark:text-gray-400">years old</p>
  </div>
  }
</section>
