@if (countryInput()) { @let country = countryInput()!;
<section class="bg-(--forground-color) shadow-lg">
  <div class="overflow-hidden">
    <img
      class="w-full h-full object-cover aspect-video"
      src="{{ country.flags.png }}"
      alt="{{ country.flags.alt }}"
    />
  </div>

  <!-- content -->
  <div class="p-8">
    <h2
      class="font-bold font-pop text-2xl mb-4 truncate"
      matTooltip="{{ country.name.common }}"
    >
      {{ country.name.common }}
    </h2>

    <div class="flex flex-col gap-2">
      <div>
        <span class="text-lg font-semibold">Population: </span>
        <span class="text-gray-400 ml-1">{{ country.population }}</span>
      </div>
      <div>
        <span class="text-lg font-semibold">Region: </span>
        <span class="text-gray-400 ml-1">{{ country.region }}</span>
      </div>

      @for (capital of country.capital; track $index) {
      <div>
        <span class="text-lg font-semibold">Capital: </span>
        <span class="text-gray-400 ml-1">{{ capital }}</span>
      </div>
      }
    </div>
  </div>
</section>
}
