<section>
  <app-custom-search (searchQuery)="onSearch($event)"></app-custom-search>
  <app-filter-control
    [(filterQuery)]="filterQuery"
    [sortControl]="sortQuery()"
    (sortControlChange)="sortControlChange($event!)"
    [itemsCount]="countriesSignal().length"
    (isAscOutput)="onSort()"
  ></app-filter-control>

  <article class="grid grid-cols-(--grid-cols-auto-fill) gap-8 mt-8">
    @for (c of countries(); track $index) {
    <app-country-card
      [countryInput]="c"
      (countryClick)="displayCountryDetails($event)"
    ></app-country-card>
    }@empty(){
    <div class="mx-auto">
      <mat-spinner mode="indeterminate" diameter="36"></mat-spinner>
    </div>
    }
  </article>
</section>
