<section>
  <app-custom-search></app-custom-search>

  <!-- todos list -->
  @if(todos$ | async) { @let todos = todos$ | async;

  <mat-accordion class="example-headers-align" multi>
    @for (todo of todos; track todo.id) {
    <app-todo [todo]="todo" (complete)="updateTodo($event)"></app-todo>
    }
  </mat-accordion>

  } @else {
  <app-nothing-found></app-nothing-found>
  }

  <div class="mt-16">
    <button mat-button (click)="accordion().openAll()">Expand All</button>
    <button mat-button (click)="accordion().closeAll()">Collapse All</button>
  </div>
</section>
