<section>
  <app-custom-search (searchQuery)="onSearch($event)"></app-custom-search>
  <app-filter-control
    [(filterQuery)]="filterQuery"
    [filterOptions]="filterOptions"
    [itemsCountLabel]="handleCountTodos()"
    [isSearchBoxVisible]="false"
    (isAscOutput)="onSort()"
  ></app-filter-control>

  <!-- todos list -->
  @if (todos().length) {
    <div class="mt-8">
      <div class="flex">
        <button
          mat-button
          (click)="accordion().openAll()"
          [disabled]="!todosSignal().length"
        >
          Expand All
        </button>
        <button
          mat-button
          (click)="accordion().closeAll()"
          [disabled]="!todosSignal().length"
        >
          Collapse All
        </button>
        <button mat-button class="ml-auto" (click)="addNewTodo()">
          Create new todo
        </button>

        <!-- page menu -->
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          matTooltip="Page management"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            class="!text-red-400 dark:!text-red-300"
            (click)="clearCompleted()"
          >
            <mat-icon class="!text-red-400 dark:!text-red-300">delete</mat-icon>
            Delete all completed
          </button>
        </mat-menu>
      </div>

      <!-- todos list -->
      <mat-accordion multi cdkDropList (cdkDropListDropped)="drop($event)">
        @for (todo of todosSignal(); track todo.id) {
          <app-todo
            [todo]="todo"
            (complete)="updateTodo($event)"
            (delete)="deleteTodo($event)"
          ></app-todo>
        } @empty {
          <app-nothing-found
            message="No item is matching with your filter option..."
          />
        }
      </mat-accordion>
    </div>
  } @else {
    <app-nothing-found />
  }
</section>
