<div class="flex items-start justify-between pt-4 pr-2 pl-6">
  @if (isTitleEditing) {
    <input
      id="titleInput"
      class="text-lg font-semibold font-pop text-gray-600 dark:text-gray-300 first-letter:uppercase mt-1 w-full border rounded"
      [formControl]="titleControl"
      type="text"
      (blur)="onBlure()"
      (keydown.enter)="onBlure()"
    />
  } @else {
    <h2
      class="text-lg font-semibold font-pop text-gray-600 dark:text-gray-300 first-letter:uppercase mt-1"
      role="button"
      (click)="onTitleClick()"
      (keydown.enter)="onTitleClick()"
      (keydown.escape)="onTitleClick()"
      tabindex="0"
    >
      {{ task.title }}
    </h2>
  }

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button
      mat-menu-item
      class="!text-red-500 dark:!text-red-300"
      (click)="onDeleteClic()"
    >
      <mat-icon class="!text-red-500 dark:!text-red-300">delete</mat-icon>
      Delete Task
    </button>
  </mat-menu>
</div>

<mat-dialog-content class="!pt-2">
  <!-- content -->
  @if (isDescEditing) {
    <textarea
      id="descInput"
      class="mb-4 text-gray-500 dark:text-gray-400 w-full border border-gray-500 p-2 rounded"
      name="desc"
      id="descInput"
      cols="3"
      rows="1"
      [formControl]="descControl"
      (blur)="onBlure()"
      (keydown.control.enter)="onBlure()"
    ></textarea>
  } @else {
    <p
      class="mb-4 text-gray-500 dark:text-gray-400"
      role="button"
      (click)="onDescClick()"
      (keydown.enter)="onDescClick()"
      (keydown.space)="onDescClick()"
      tabindex="0"
    >
      {{ task.desc }}
    </p>
  }

  <!-- status -->
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select
      class="w-full"
      panelClass="w-auto"
      [formControl]="statusControl"
    >
      @for (status of statusArr; track $index) {
        <mat-option [value]="status">{{ status }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button
    mat-raised-button
    cdkFocusInitial
    [disabled]="isDisabled"
    (click)="onOkClick()"
  >
    Update task
  </button>
</mat-dialog-actions>
