.table-header,
.add-form {
  display: grid;
  grid-template-columns: 2em 1fr 8em 4em 5em 1fr 2em;
  align-items: center;
  justify-content: space-between;
  gap: 2em;

  & input {
    outline: none;
    border: none;
  }
}

::ng-deep {
  .mat-mdc-select-placeholder {
    --mat-select-placeholder-text-color: #99a1af;
    --mat-sys-on-surface-variant: #99a1af;

    font-size: 0.875rem;
  }
}
