.table-header,
.add-form {
  display: grid;
  grid-template-columns: 2em 1fr 8em 4em 5em 1fr 5em;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

::ng-deep {
  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    display: none;
  }
}
