<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon class="!text-gray-100">menu</mat-icon>
  </button>
  <span
    class="text-(--white-color) font-pop font-semibold cursor-pointer"
    [routerLink]="['/']"
    role="button"
  >
    {{ title() }}
  </span>

  <span class="spacer"></span>

  <app-switch-theme />

  <!-- menu -->
  <button
    class="!text-(--white-color)"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onPrint()">
      Print Page
      <mat-icon>print</mat-icon>
    </button>
    <button mat-menu-item (click)="downloadPDF()">
      Download Page as PDF
      <mat-icon>download</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
