<section>
  <app-section-title title="Analyze your text in real-time"></app-section-title>

  <mat-form-field class="w-full mt-6" appearance="outline">
    <textarea
      [(ngModel)]="characters"
      matInput
      placeholder="Start typing here...(or paste your text)"
      rows="5"
      (input)="onInput()"
    ></textarea>
  </mat-form-field>

  <!-- options -->
  <div class="flex flex-wrap md:flex-nowrap items-center justify-between">
    <div>
      <mat-checkbox
        color="primary"
        [checked]="excludeSpace"
        (change)="excludeSpace = !excludeSpace; onInput()"
      >
        Exclude Spaces
      </mat-checkbox>
      <mat-checkbox
        color="primary"
        [checked]="characterLimit"
        (change)="characterLimit = !characterLimit; onInput()"
      >
        Set characters limit
      </mat-checkbox>
    </div>
    <span class="text-sm">Approx. reading time: 10 minute</span>
  </div>

  <!-- display result -->
  <div class="flex flex-wrap md:flex-nowrap justify-between gap-8 mt-8">
    <ng-container
      *ngTemplateOutlet="
        result;
        context: {
          result: totalCharacters,
          text: 'Total Characters',
          color: 'bg-violet-400'
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        result;
        context: {
          result: totalWords,
          text: 'Word Count',
          color: 'bg-amber-500'
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        result;
        context: {
          result: totalSentence,
          text: 'Sentence Count',
          color: 'bg-red-400'
        }
      "
    ></ng-container>
  </div>

  <!-- display density -->
  @if (characterStats().length) {
  <div class="mt-6">
    <h1 class="font-pop font-semibold text-xl tracking-wide mb-2">
      Letter Density
    </h1>

    @for (item of (!isExpanded ? characterStats() : characterStats() |
    slice:0:4); track $index) {
    <div class="flex items-center gap-4 mt-2">
      @if(item.char===' '){
      <mat-icon class="!text-base" matTooltip="Spaces in the text">
        space_bar
      </mat-icon>
      }@else {
      <span class="basis-[1em]">{{ item.char.toUpperCase() }}</span>
      }
      <mat-progress-bar
        mode="determinate"
        [value]="item.count"
      ></mat-progress-bar>
      <span class="text-xs">
        {{ item.count }}({{ item.percentage.toFixed(2) }})%
      </span>
    </div>
    }

    <!-- display "See more" button -->
    @if (characterStats().length > 4) {
    <button
      class="flex items-center cursor-pointer mt-4"
      (click)="onShowMore()"
    >
      {{ isExpanded ? "See more" : "See less" }}
      <mat-icon>
        {{ isExpanded ? "keyboard_arrow_down" : "keyboard_arrow_up" }}
      </mat-icon>
    </button>
    }
  </div>
  }
</section>

<ng-template #result let-result="result" let-text="text" let-color="color">
  <div class="w-full p-6 rounded-2xl truncate" [ngClass]="color ? color : ''">
    <p class="text-5xl text-gray-700 font-pop font-semibold">
      {{ result.toString().padStart(2, "0") }}
    </p>
    <p class="text-xl text-gray-700 truncate" [matTooltip]="text">{{ text }}</p>
  </div>
</ng-template>
