.drawer-container {
  height: calc(100% - 64px);
}

mat-list-item:hover,
.active {
  background-color: var(--active-color);
}

.boards {
  display: grid;
  grid-template-rows: 0;
  transition: grid-template-rows 0.3s ease-in-out;

  &.expanded {
    grid-template-rows: 1fr;
  }

  .sub-link-active * {
    color: var(--primary) !important;
  }

  div {
    background-color: var(--background-color);
    overflow: hidden;

    mat-list-item {
      padding-left: 2.4em;
    }
  }
}
