<app-header></app-header>
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    class="!rounded-none dark:!bg-(--forground-color) !shadow-sm !w-[280px]"
    [mode]="drawerMode"
    [opened]="isSideNavOpen()"
  >
    <mat-list>
      <mat-list-item
        class="!cursor-pointer"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        onclick="this.blur()"
        (click)="onExpandTaskManager(false)"
      >
        <mat-icon matListItemIcon>calculate</mat-icon>
        <span matListItemTitle>Calculate your age</span>
      </mat-list-item>

      <mat-list-item
        class="!cursor-pointer"
        [routerLink]="['/character-counter']"
        routerLinkActive="active"
        onclick="this.blur()"
        (click)="onExpandTaskManager(false)"
      >
        <mat-icon matListItemIcon>manage_search</mat-icon>
        <span matListItemTitle>Character counter</span>
      </mat-list-item>

      <mat-list-item
        class="!cursor-pointer"
        [routerLink]="['/countries']"
        routerLinkActive="active"
        onclick="this.blur()"
        (click)="onExpandTaskManager(false)"
      >
        <mat-icon matListItemIcon>travel_explore</mat-icon>
        <span matListItemTitle>Search country</span>
      </mat-list-item>

      <mat-list-item
        class="!cursor-pointer"
        [routerLink]="['/task-manager']"
        routerLinkActive="active"
        onclick="this.blur()"
        (click)="onExpandTaskManager()"
      >
        <mat-icon matListItemIcon>format_list_bulleted</mat-icon>
        <span matListItemTitle>Task manager boards</span>
      </mat-list-item>

      <div class="task-manager-nav" [ngClass]="{ expanded: isExpanded }">
        <div>
          @for (item of taskManagerSidenav(); track $index) {
          <mat-list-item class="!cursor-pointer" onclick="this.blur()">
            <mat-icon matListItemIcon>format_list_bulleted</mat-icon>
            <span matListItemTitle>{{ item.name }}</span>
          </mat-list-item>
          }
        </div>
      </div>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content class="p-8 dark:bg-(--background-color)">
    <div class="w-full max-w-[80%] mx-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
