<app-header></app-header>
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    class="!rounded-none dark:!bg-(--forground-color) !shadow-sm"
    [mode]="drawerMode"
    [opened]="isSideNavOpen()"
  >
    <mat-list>
      <mat-list-item
        class="!cursor-pointer"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        onclick="this.blur()"
      >
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Overview</span>
      </mat-list-item>

      <mat-list-item
        class="!cursor-pointer"
        [routerLink]="['/character-counter']"
        routerLinkActive="active"
        onclick="this.blur()"
      >
        <mat-icon matListItemIcon>manage_search</mat-icon>
        <span matListItemTitle>Character counter</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content class="p-8 dark:bg-(--background-color)">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
