.drawer-container {
  height: calc(100% - 64px);
}

mat-list-item:hover,
.active {
  background-color: var(--forground-color);
}

.boards {
  display: grid;
  grid-template-rows: 0;

  &.expanded {
    grid-template-rows: 1fr;
  }

  div {
    background-color: var(--background-color);
    overflow: hidden;

    mat-list-item {
      padding-left: 2.4em;
    }
  }
}
