<section class="max-w-lg mx-auto">
  <h1 class="font-bold text-2xl text-gray-700 dark:text-gray-100">
    Find your age
  </h1>
  <p class="mt-2 text-gray-500 dark:text-gray-400">
    Welcome to the calculate age app!
  </p>

  <!-- form -->
  <form
    class="flex flex-col gap-8 mt-8"
    [formGroup]="calculatorForm"
    (submit)="submit($event)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        [max]="currentDate"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-error>Please choose a date</mat-error>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Calculate</button>
  </form>

  <!-- display result -->
  @if (age) {
  <div class="mt-8">
    <p class="text-gray-500 dark:text-gray-400">You age is:</p>

    <div class="mt-4">
      <div class="flex flex-col justify-between">
        <!-- display years -->
        @if (age.years) {
        <ng-container
          *ngTemplateOutlet="
            result;
            context: {
              value: age.years,
              label: age.years > 1 ? 'Years' : 'Year'
            }
          "
        ></ng-container>
        }

        <!-- display months -->
        @if (age.months) {
        <ng-container
          *ngTemplateOutlet="
            result;
            context: {
              value: age.months,
              label: age.months > 1 ? 'Months' : 'Month'
            }
          "
        ></ng-container>
        }

        <!-- display days -->
        @if (age.days) {
        <ng-container
          *ngTemplateOutlet="
            result;
            context: { value: age.days, label: age.days > 1 ? 'Days' : 'Day' }
          "
        ></ng-container>
        }
      </div>
    </div>
  </div>
  }
</section>

<ng-template #result let-value="value" let-label="label">
  <div class="flex items-center gap-2">
    <h2 class="font-bold text-xl text-gray-700 dark:text-gray-300 min-w-20">
      {{ label }}:
    </h2>
    <h2 class="font-bold text-2xl text-gray-700 dark:text-gray-300">
      {{ value }}
    </h2>
  </div>
</ng-template>
