<section class="py-8">
  @if (!isLoading) {
    @if (products().length) {
      <div class="grid grid-cols-1 lg:grid-cols-2 justify-between gap-8">
        @for (item of products(); track $index) {
          <app-product-card
            [product]="item"
            (addProductToCart)="addToCart($event)"
          ></app-product-card>
        }
      </div>
    }
  } @else {
    <mat-progress-spinner
      class="mx-auto"
      diameter="30"
      mode="indeterminate"
    ></mat-progress-spinner>
  }
</section>
