<section>
  <form [formGroup]="phoneform" (ngSubmit)="onSubmit($event)">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Your phone number</mat-label>
      <app-tel-input formControlName="phone"></app-tel-input>
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="phoneform.get('phone')?.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>

      <!-- error -->
      @if(formControls['phone'].errors?.['errorMsg']){
      <mat-error>{{ formControls["phone"].errors?.["errorMsg"] }}</mat-error>
      } @if(formControls['phone'].errors?.['maxLength']){
      <mat-error>Max length is 14...</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full country" appearance="outline">
      <mat-label>Coutnry</mat-label>
      <mat-select formControlName="country" panelWidth="auto">
        <mat-option class="h-full !p-0">
          <app-select-search></app-select-search>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="phoneform.invalid">
      Submit
    </button>
  </form>
</section>
