<mat-expansion-panel cdkDrag>
  <mat-expansion-panel-header>
    <!-- drag placeholder -->
    <div
      class="bg-(--background-color) dark:bg-(--forground-color) border-2 border-dotted rounded-md min-h-[50px] transition-transform duration-300 cubic-beziar(0,0,0.2,1)"
      *cdkDragPlaceholder
    ></div>

    <!-- content -->
    <mat-panel-title
      class="!flex-1 truncate"
      [ngClass]="{ 'line-through !text-gray-400': todo().completed }"
    >
      <div class="flex items-center gap-4">
        <!-- drag handler -->
        <div class="cursor-move text-gray-500 dark:text-gray-400" cdkDragHandle>
          <svg width="18px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>

        <!-- title text -->
        <span>{{ todo().title }}</span>
      </div>
    </mat-panel-title>
    <mat-panel-description class="justify-between !flex-grow-0">
      <span class="mr-4">{{ todo().dueDate | date: "dd.MM.yyyy" }}</span>

      <mat-checkbox
        matTooltip="
        {{ todo().completed ? 'Mark as incomplete' : 'Mark as completed' }}"
        [checked]="todo().completed"
        (change)="toggleCompletion($event)"
        (click)="$event.preventDefault(); $event.stopPropagation()"
      ></mat-checkbox>

      <button
        matTooltip="Delete this todo"
        mat-icon-button
        (click)="
          deleteTodo(todo().id);
          $event.preventDefault();
          $event.stopPropagation()
        "
        [disabled]="!todo().completed"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p class="text-gray-500 dark:text-gray-400">{{ todo().description }}</p>
</mat-expansion-panel>
