/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "./scss/_theme.scss";
@use "./scss/print";
@custom-variant dark (&:where(.dark-theme, .dark-theme *));

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// angular material (mdc) styles
button:where([mat-raised-button], [color="primary"]) {
  background-color: var(--primary) !important;
  color: var(--white-color) !important;

  &:disabled {
    background-color: var(--disable-color) !important;
    color: var(--gray) !important;
  }
}

// remove none required border inside form field
.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field:not([appearance="outline"]) {
  //------- start default reseting --------//
  .mat-mdc-text-field-wrapper {
    background-color: transparent !important;
  }

  .mat-icon,
  .mdc-text-field {
    padding: 0 !important;
  }

  .mat-mdc-form-field-infix {
    padding-bottom: 0;

    .mat-mdc-form-field-input-control {
      margin-top: 0.44em;
    }
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 38px;
    font-size: 0.99rem;
  }

  .mat-mdc-form-field-icon-suffix {
    align-self: flex-end;
    padding-bottom: 0.2em;
  }

  // centerize the input suffix icon
  .mat-mdc-icon-button {
    display: grid;
    place-items: center;
  }

  // make the suffix icon smaller
  .mat-mdc-icon-button img,
  .mat-mdc-icon-button svg {
    width: 18px;
    height: 18px;
  }
  //------ end default reset ---------//

  &.no-hint {
    .mat-mdc-form-field-subscript-wrapper,
    .mat-mdc-form-field-bottom-align::before {
      display: none;
    }
  }
  &.no-arrow .mat-mdc-select-arrow-wrapper,
  &.no-underline .mdc-line-ripple,
  &.no-hover-effect .mat-mdc-form-field-focus-overlay {
    display: none;
  }
  &.match-height {
    .mat-mdc-form-field-infix {
      min-height: auto;
      padding: 0;
    }
  }
  &.match-width {
    .mat-mdc-form-field-infix {
      width: auto;
    }
  }
}

.mat-mdc-select-trigger {
  gap: 0.5em;
}

// FYI: it can be reset or removed for some cases
.mat-mdc-option .mat-pseudo-checkbox-minimal {
  color: red;
}

.no-checkbox .mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}
