@use "@angular/material" as mat;
@use "./theme-colors";

:root {
  --primary: #016fb9;
  --secondary: #22aed1;
  --tertiary: #182825;
  --background-color: #f0f0f0;
  --forground-color: #f7f7f7;
  --text-color: #101828;
  --white-color: #f0f0f0;
}

.dark-theme {
  --primary: #016fb9;
  --secondary: #22aed1;
  --tertiary: #182825;
  --background-color: #1a1f2b;
  --forground-color: #161c29;
  --text-color: #f0f0f0;
  --white-color: #f0f0f0;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
    )
  );
}

.dark-theme {
  color-scheme: dark;
}
