<h2 class="b-0" mat-dialog-title>{{ data.name }}</h2>

<mat-dialog-content class="!pt-4 !grid !gap-4 !min-w-[500px]">
  <p class="first-letter:uppercase">{{ data.message }}</p>

  @if(data.details){ @if (isDetailsShowing()) {
  <p>{{ data.details }}</p>
  }

  <button class="mr-auto" mat-button (click)="onShowDetails()">
    {{ btnLabel() }}
  </button>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button class="!bg-red-400" mat-raised-button matDialogClose>Ok</button>
</mat-dialog-actions>
